body {
    background-color: gray;
}

p {
    font-family: fantasy;    /* classi principali di font: serif, sans serif */ 
} 

#special {				/* id = special */
    color: violet;
}

h1, h2, h3 {
    color: yellow;
}

.myClass {				   /* class = myclass */
    font-style: italic;
}

p.myClass {			     	/* p di class = myclass, LA REGOLA SOGGETTA ALL'ELEMENTO PIU' SPECIFICO VINCE */
    color: blue;
}


#paragraphId {
    color: red;
}

#blockId {
    border: 3px solid #ff8000;  
    background-color: #ffff80;
}

.boldCls {                 /* si può anche fare b {} però così è piu' corretto */
    font-weight: bold;  
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;    
}

/* esempio di first child*/
li:first-child{
	color: #f9585f;
}


