body {
    background-color: lightyellow;
}

[type=text] {
    background-color: olive;
}

[type=number] {
    background-color: yellow;
}

input:hover {
    color: blue;     /*applicato al testo hover sul testo*/
    background-color: red;
} 


div span {
    background-color: green;
}

div>span {
    font-weight: bold;
}
