table {
    border: 2px solid black;
    border-collapse: collapse; /* cell boders are united, try remove to see*/
    width: 50%;
}

td, th {
    border: 1px solid red;
    padding: 4px;
    text-align: center;
}

th {
    background-color: lightblue;
}

td {
    background-color: lightgreen;
    text-align: right;     /* regole più specifica vince*/
}

